<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NCrawlerEntitiesDbServices" connectionString="metadata=res://*/NCrawlerEntities.csdl|res://*/NCrawlerEntities.ssdl|res://*/NCrawlerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NCrawler.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>