<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
		<requiredRuntime version="v4.0.20506" />
	</startup>
	<connectionStrings>
		<add name="NCrawlerEntitiesDbServices" connectionString="metadata=res://*/NCrawlerEntities.csdl|res://*/NCrawlerEntities.ssdl|res://*/NCrawlerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NCrawler.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="NCrawlerEntitiesSQLite" connectionString="metadata=res://*/NCrawlerDataModelSQLite.csdl|res://*/NCrawlerDataModelSQLite.ssdl|res://*/NCrawlerDataModelSQLite.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;NCrawler.db&quot;'" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>